<nav>
  <div
    style="
      position: relative;
      margin-bottom: auto;
      margin-top: auto;
      margin-right: 20px;
      margin-left: 20px;
    "
  >
    <a
      class="link"
      routerLink="/books-list-app"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Books List</a
    >
  </div>

  <div
    style="
      position: relative;
      margin-bottom: auto;
      margin-top: auto;
      margin-right: 20px;
      margin-left: 20px;
    "
  >
    <a
      class="link"
      routerLink="/members-list-app"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Members List</a
    >
  </div>

  <div
    style="
      position: relative;
      margin-bottom: auto;
      margin-top: auto;
      margin-right: 20px;
      margin-left: 20px;
    "
  >
    <a
      class="link"
      routerLink="/loans-list-app"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Loans List</a
    >
  </div>

  <div
    style="
      position: relative;
      margin-bottom: auto;
      margin-top: auto;
      margin-right: 20px;
      margin-left: 20px;
    "
  >
    <a
      class="link"
      routerLink="/contact-form-app"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Contact Form</a
    >
  </div>
</nav>
