<h1>Contact Us</h1>

<div style="width: 100%">
  <form id="contactForm" style="position: relative; margin-left: 120px">
    <label for="name">Name:</label><br />
    <input
      style="color: black"
      type="text"
      id="name"
      name="name"
      required
    /><br />
    <label for="email">Email:</label><br />
    <input
      style="color: black"
      type="email"
      id="email"
      name="email"
      required
    /><br />
    <label for="message">Message:</label><br />
    <textarea
      style="color: black"
      id="message"
      name="message"
      required
    ></textarea
    ><br />
    <input style="color: black" type="submit" value="Submit" />
  </form>
</div>
